.mais-alugados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: -1px -1px;
}

.populars-imagem {
  align-items: center;
  display: grid;
}

.populars-imagem img {
  grid-area: 1/1;
}

.carros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../../../public/img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.populars-informacoes h2,
.populars-informacoes p {
  grid-column: 1/-1;
}

.populars-informacoes h2 {
  margin-bottom: 20px;
}

.populars-informacoes h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.populars-informacoes p {
  margin-bottom: 32px;
}

.populars-informacoes a {
  place-self: end;
}

.populars-informacoes li {
  display: flex;
  align-items: center;
}

.populars-informacoes ul {
  display: grid;
  gap: 16px;
}

.populars-informacoes {
  position: relative;
  overflow: hidden;
}

.populars-informacoes img {
  width: 24px;
  margin-right: 8px;
}

.populars-informacoes .card_overlay {
  transform: translateY(100%);
  transition: .2s ease-in-out;
  position: relative;
  top: 0;
  color: white;
  padding-top: 20px;
}

.populars-informacoes .card_header {
  position: relative;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  top: 0;
}

.populars-informacoes:hover .card_overlay {
  transform: translateY(0);
  color: var(--cor-8);
}

.populars-informacoes:hover .card_header {
  transform: translateY(0);
}

@media (max-width: 600px) {
  .populars-informacoes {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .mais-alugados {
    display: flex;
    flex-direction: column;
  }

  .populars-informacoes .card_overlay {
    padding-top: 0;
  }
}