.mais-alugados{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -1px -1px;
}

.mais-alugados .carros-imagem{
    align-items: center;
}

.carros-informacoes img{
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 600px) {
    .carros-informacoes{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .mais-alugados{
        display: flex;
        flex-direction: column;
    }
    .mais-alugados .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 1024px){
    .carros-informacoes p{
        padding-top: 15px;
    }
}