.mais-alugados{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -1px -1px;
}

.mais-alugados .carros-imagem{
    align-items: center;
}

.carros-informacoes{
    position: relative;
    overflow: hidden;
}

.carros-informacoes img{
    width: 24px;
    margin-right: 8px;
}

.carros-informacoes .card_overlay{
    transform: translateY(100%);
    transition: .2s ease-in-out;
    position: relative;
    top: 0;
    color: white;
    padding-top: 20px;
}

.carros-informacoes .card_header{
    position: relative;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    top: 0;
}

.carros-informacoes:hover .card_overlay{
    transform: translateY(0);
    color: var(--cor-8);
}

.carros-informacoes:hover .card_header{
    transform: translateY(0);
}

@media (max-width: 600px) {
    .carros-informacoes{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .mais-alugados{
        display: flex;
        flex-direction: column;
    }
    .mais-alugados .reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    .carros-informacoes .card_overlay{
        padding-top: 0;
    }
}